body {
    margin: 0px
}
.container {
    margin: 100px;
    margin-left: 820px;
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.box {
    width: 600px;
    height: 600px;
    background: #fff;
}

#divBusca{
    
    background-color:#fff;
    border:solid 2px #3F51B5;
    border-radius:10px;
    width:290px;
    height:32px;
  }
   
  #txtBusca{
    float:center;
    background-color:transparent;
    padding-left:5px; 
    font-size:18px;
    border:#3F51B5;
    height:28px;
    width:224px;
  }
   
  #btnBusca{
    border:#fff;
    float:left;
    height:28px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold #fff;
    background:#3F51B5;
  }
   
 