body {
    margin: 0px
}
.container {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.box {
    width: 600px;
    height: 600px;
    background: #fff;
}

#divBusca{
    
    background-color:#fff;
    border:solid 2px #3F51B5;
    border-radius:10px;
    width:218px;
    height:32px;
  }
   
  #txtBusca{
    float:center;
    margin: 0 auto;
    background-color:transparent;
    padding-left:3px; 
    font-size:12px;
    border:#3F51B5;
    height:28px;
    width:224px;
  }
   
  #btnBusca{
    border:#fff;
    margin: 0 auto;
    float:right;
    height:28px;
    border-radius:0 8px 8px 0;
    width:70px;
    font-weight:bold;
    background:#3F51B5;
  }
   
 