<div class="container-fluid">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <div style="color: #fff;" class="faixa">
            <ul>
              <a class="navbar-brand" href="#">
                <b style="color: #fff;font-size: larger;" ><i>
                  
                 TheProEsports
                
   
                </i></b>
             </a>
            <b><a style="margin-left: 40px;color: #fff;" href="./app/home">Global</a></b>
            <b><a style="margin-left: 40px;color: #fff;" href="./app/cblol">BR</a></b>
            <b><a style="margin-left: 40px;color: #fff;" href="./app/cblol">KR</a></b>
            <b><a style="margin-left: 40px;color: #fff;" href="./app/cblol">China</a></b>
            <b><a style="margin-left: 40px;color: #fff;" href="./app/cblol">NA</a></b>
            <b><a style="margin-left: 40px;color: #fff;" href="./app/cblol">EU</a></b>
            <button style="background-color: #fff;margin-left: 550px; font-size: 20px;border: solid #fff; font-family: open sans;border-radius: 50px;"> <b> <a style="font-size: 15px; color: #111379;margin: auto;" href="#">Login</a></b></button>
      
            </ul>
          </div> 
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
  
