<!DOCTYP html>
<html>
	<head>
		<title>
			TheProEsports
			
		</title>
  
  
  </head>
  
  <body style="background-color:#3F51B5">
    
    <h1>
      <p style="color:#fff;text-align:center;height:100px;font-size:76px">
      <i style="text-align:center">TheProEsports</i>
      </p>
    </h1>
  
 
  </body>


  <div >
    <div class="container" id="divBusca">
      <input type="text" id="txtBusca" placeholder="Selecione um Liga"/>
      <button style="color:#fff" id="btnBusca">Buscar</button>
    </div>

  </div>
  
	
	
	
	
</html>