.faixa ul li {
  display: inline-block;
  padding-right: 20px;
}

#seta {
  position: absolute;
  padding: 20px;
  box-shadow: 2px -2px 0 1px #000 inset;
  border: solid transparent;
  border-width: 0 0 2px 2px;
  transform: rotate(225deg);
}