<body style="background-color: rgb(197, 194, 194)">
<br>

  <h3 Style="text-align:left; background-color: rgb(197, 194, 194) ;">
  
    <div class="faixa">
      <ul> 
      <button style="background-color: #111379;font-size: 20px;border: solid #111379; font-family: open sans;border-radius: 10px;"> <b> <a style="font-size: 15px; color: #fff;" href="./app/home">Team Ranks</a></b></button>
      <button style="background-color: #111379;font-size: 20px;border: solid #111379;margin-left: 26px;font-family: open sans;border-radius: 10px;"><b><a style="color: #fff;font-size: 15px;" href="./app/cblol">Strategic Info</a></b></button>
      <button style="background-color: #111379;font-size: 20px;border: solid #111379;margin-left: 26px;font-family: open sans;border-radius: 10px;"><b><a style="color: #fff; font-size: 15px;" href="./app/cblol">Individual Ranks</a></b></button>
      <button style="background-color: #111379;font-size: 20px;border: solid #111379;margin-left: 26px;font-family: open sans;border-radius: 10px;"><b><a style="color: #fff; font-size: 15px;" href="./app/cblol">Champion Info</a></b></button>
      <button style="background-color: #111379;font-size: 20px;border: solid #111379;margin-left: 26px;font-family: open sans;border-radius: 10px;"><b><a style="color: #fff; font-size: 15px;" href="./app/cblol">League Averages</a></b></button>
      <button style="background-color: #111379;font-size: 20px;border: solid #111379;margin-left: 26px;font-family: open sans;border-radius: 10px;"><b><a style="color: #fff; font-size: 15px;" href="./app/cblol">Item info</a></b></button>
      <button style="background-color: #111379;font-size: 20px;border: solid #111379;margin-left: 26px;font-family: open sans;border-radius: 10px;"><b><a style="color: #fff;font-size:  15px;" href="./app/cblol">Premiun Insights</a></b></button>
      </ul>
    </div> 
    <br><br>
  
  </h3>

  
  <h3 Style="text-align:left; background-color: rgb(197, 194, 194); margin-bottom: 0px;">

    <div  class="faixa">
      <ul> 
      <button style="background-color: #fff;font-size: 20px;border: solid #fff; font-family: open sans;border-radius: 10px;"> <b> <a style="font-size: 15px; color: #111379;" href="./app/home">Global</a></b></button>
      <button style="background-color: #fff;font-size: 20px;border: solid #fff;margin-left: 80px;font-family: open sans;border-radius: 10px;"><b><a style="color: #111379;font-size: 15px;" href="./app/cblol">Team Ranks</a></b></button>
      </ul>
    </div>     
  
  </h3>
 

    <table style="text-align: center;margin-top: 0px;" class="table table-striped">
    <thead class="thead-dark">
      <tr >
        <th scope="col">Team</th>
        <th scope="col">GP</th>
        <th scope="col">Wins</th>
        <th scope="col">Losses</th>
        <th scope="col">Win %</th>
        <th scope="col">Streak</th>
        <th scope="col">1st Blood</th>
        <th scope="col">1st Tower</th>
        <th scope="col">Blue side W%</th>
        <th scope="col">Red side W%</th>
        <th scope="col">Avg Game Time</th>
        <th scope="col">Avg Vision Score</th>
        <th scope="col">Avg Control Ward</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-light">
        <th scope="row">paiN Gamming</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
      </tr>
      <tr class="table-primary">
        <th scope="row">DAMWON GAMING</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
      </tr>
      <tr class="table-light">
        <th scope="row">DragonX</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
      </tr>
      <tr class="table-primary">
        <th scope="row">Funplus Phoenix</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
      </tr>
      <tr class="table-light">
        <th scope="row">Gen.G eSports</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
      </tr>
      <tr class="table-primary">
        <th scope="row">Invictus Gaming</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
      </tr>
      <tr class="table-light">
        <th scope="row">T1</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
      </tr>
      <tr class="table-primary">
        <th scope="row">TOP Esports</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
      </tr>
    </tbody>
  </table>
  <br><br>

  
  <h6 Style="text-align:center">
    Todos os dados são fictícios e foram implementados de maneira manual.
  </h6>

</body>